{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "plugins": ["react"],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "no-console": 0,
    "rules": {
      "quotes": ["error", "single"]
    },
    "no-trailing-spaces": "error",
    "no-multi-spaces": ["error", { "exceptions": { "ImportDeclaration": true } }],
    "indent": ["error", 2]
  },
  "globals": {
    "__DEV__": true
  }
}
