<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>85136175680-gsbv9bdh8nvhpn52s2g8nratera8ooga.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.85136175680-gsbv9bdh8nvhpn52s2g8nratera8ooga</string>
	<key>API_KEY</key>
	<string>AIzaSyCuSs1CzGafeuaHXQ5g_IS1s-Et9NWfj60</string>
	<key>GCM_SENDER_ID</key>
	<string>85136175680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.timebug.lifevisionApp</string>
	<key>PROJECT_ID</key>
	<string>temp-2020</string>
	<key>STORAGE_BUCKET</key>
	<string>temp-2020.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:85136175680:ios:0506fdfb3686cd71</string>
	<key>DATABASE_URL</key>
	<string>https://temp-2020.firebaseio.com</string>
</dict>
</plist>
